@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-menu {
  background-color: #010a3bfd;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 6;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}