* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

html {
    font-size: 60%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main-nav {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 10rem 1fr 0.5fr 10rem;
    background-color: #3bd086;
}

.logo {
    display: grid;
    grid-column: 2/3;
    align-items: center;
}

.logo img {
    width: 175px;
}

.menu-link ul {
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-link ul li {
    font-size: 1.8rem;
    border: 2px solid white;
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    margin: 0px 10px 0px 10px;
    width: 150px;
    text-align: center;
}

.menu-link ul li a {
    color: rgb(255, 255, 255);
}

.menu-link ul li:hover>a {
    color: rgba(255, 255, 255, 0.823);
}

.h-menu .hamburger-menu {
    display: none;
}

.h-menu-button {
    color: white;
}


@media (max-width: 1080px) {

    .menu-link ul li a {
        color: rgb(255, 255, 255);
    }
}

@media (max-width: 998px) {

    .main-nav {
        height: 7rem;
        grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }

    .menu-link {
        display: none;
    }

    .menu-link ul li a {
        color: rgb(0, 0, 0);
    }

    .mobile-menu-link {
        background-color: rgb(255, 255, 255);
        height: 20rem;
        display: grid;
        grid-column: 2/5;
        align-items: center;
        padding-left: 3rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .mobile-menu-link ul {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
    }

    .h-menu {
        grid-row: 1/2;
        grid-column: 3/5;
    }

    .h-menu {
        height: 7rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .h-menu .hamburger-menu {
        display: block;
        font-size: 2.5rem;
        margin-right: 20px;

    }
}



@media (max-width: 798px) {
    .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    }

    .h-menu {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .h-menu .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }
}

@media (max-width: 520px) {
    .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }

    .h-menu .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .logo img {
    height: 50px; /* veya logonuzun uygun boyutu */
  }
  
  .search-bar {
    margin-left: 20px;
  }
  
  .menu-link ul {
    list-style: none;
    display: flex;
  }
  
  .menu-link ul li {
    margin-right: 20px;
  }
  
  .h-menu {
    display: flex;
    align-items: center;
  }
  
  .search-bar .MuiOutlinedInput-input {
    background-color: white;
  }